/* Color palete: https://flatuicolors.com/palette/de */


/*----- Common code  -----*/
body {
    background-color: #d1d8e0;
    color: white;
}

.separator {
    width: 100px;
    height: 2px;
    background: #26de81;
    margin: 30px auto;
}

.sectionMargin {
    margin-top: 60px;
}

input {
    width: 350px;
    height: 44px;
    border-radius: 25px;
    margin-right: 10px;
    border: none;
    padding-left: 25px;
    outline: none;
}

textarea {
    width: 350px;
    height: 300px;
    border-radius: 15px;
    padding-top: 15px;
    padding-left: 25px;
    border: none;
    outline: none;
    resize: none;
}

a {
    color: #000;
}

a:hover {
    color: #26de81;
    text-decoration: none;
    font-weight: 700;
}

.button {
    text-align: center;
    width: 220px;
    height: 44px;
    color: #fff;
    border-radius: 22px;
    font-size: 14px;
    font-weight: bold;
    line-height: 44px;
    text-transform: uppercase;
    border: 1px solid #fff;
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}

.button-primary {
    background: linear-gradient(120deg, #26de81 0%, #23d789 50%, #50ca8d 50%, #50ca8d 53%, #21f89b 53%);
    background-size: 220%;
    background-position: 0;
    border-color: #21f89b;
}

.button-primary:hover {
    background-position: 100%;
    border-color: #32faa3;
    cursor: pointer;
}

.button-secondary {
    background: linear-gradient(120deg, transparent 0%, transparent 50%, rgba(255, 255, 255, .7) 50%, rgba(255, 255, 255, .7) 53%, #fff 53%);
    background-size: 220%;
    background-position: 0;
    border-color: #fff;
}

.button-secondary:hover {
    color: #26de81;
    background-position: 100%;
    cursor: pointer;
}


/*----- Slider Section  -----*/
#sliderTop,
#sliderTop img {
    height: 100vh;
}

#sliderTop .slide1 {
    height: 100vh;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.95)), color-stop(12%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.95))), url(/img/slide1-bg.jpg);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0.8) 12%, rgba(0, 0, 0, 0.95) 100%), url(/img/slide1-bg.jpg);
    background-size: cover;
    background-position: center;
}

#sliderTop .slide2 {
    height: 100vh;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.95)), color-stop(12%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.95))), url(/img/slide2-bg.jpg);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0.8) 12%, rgba(0, 0, 0, 0.95) 100%), url(/img/slide2-bg.jpg);
    background-size: cover;
    background-position: center;
}

#sliderTop .slide3 {
    height: 100vh;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.95)), color-stop(12%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.95))), url(/img/slide3-bg.jpg);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0.8) 12%, rgba(0, 0, 0, 0.95) 100%), url(/img/slide3-bg.jpg);
    background-size: cover;
    background-position: center;
}

#sliderTop .slideInfoLeft {
    margin-left: 20px;
}

#sliderTop .slideInfoRight img {
    position: absolute;
    height: 80vh;
    top: 0;
    right: 0;

}

#sliderTop .carousel-indicators li.active {
    background-color: #26de81;
}

#sliderTop .carousel-indicators li {
    width: 9px;
    height: 9px;
    border-radius: 3px;
    margin: 6px;
    background-color: #778ca3;
}

#sliderTop .carousel-control {
    width: 24px;
    height: 24px;
}

#sliderTop .arrow {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50vh;
}

#sliderTop .arrow-prev {
    left: 5vw;
}

#sliderTop .arrow-next {
    right: 5vw;
}

#sliderTop .arrow img {
    width: 24px;
    height: 24px;
}


/*----- Benefits Section  -----*/
.benefitsSection {
    color: #000;
}

.benefitsSectionHeader {
    text-align: center;
}

.benefitsSectionContent {
    text-align: center;
}

.benefitsSectionContent i {
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 48px;
    color: #26de81;
    background-color: #fdfdfd;
    border-radius: 50%;
    margin-bottom: 25px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.benefitsSectionContent .benefit:hover i {
    background-color: #26de81;
    color: #fff;
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
}


/*----- Professor Section  -----*/
.professorSection {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(38, 222, 129, 0.85)), to(rgba(38, 222, 129, 0.85))), url(/img/professor-bg.jpg);
    background: linear-gradient(rgba(38, 222, 129, 0.85), rgba(38, 222, 129, 0.85)), url(/img/professor-bg.jpg);
    background-size: cover;
    background-position: center;
}

.professorSection .content {
    height: 420px;
}

.professorSection .contentLeft .separator {
    background: #fff;
    margin: 30px 0;
}

.professorSection .contentRight {
    height: 100%;
    width: 100%;
}

.contentRight img {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
}


/*----- Subjects Section  -----*/
.subjectsSection {
    color: #000;
}

.subjectsSectionHeader {
    text-align: center;
}

.subjectCard {
    position: relative;
    background-color: #fff;
    height: 450px;
    padding: 10px;
    margin-bottom: 35px;
    margin-top: 20px;
    -webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.subjectCard:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2);
}

.subjectCard .card-img,
.subjectCard .card-text {
    position: absolute;
    height: 230px;
    left: 0;
    right: 0;
    border-radius: 0;
}

.subjectCard .card-img {
    top: 0;
    background-size: cover;
}

.subjectCard .card-text {
    bottom: 0;
    padding: 40px;
}

.card-text p {
    font-size: 12px;
    margin-bottom: 25px;
}

.card-text a {
    color: #26de81;
    font-weight: bold;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.card-text a:hover {
    color: #eb3b5a;
    cursor: pointer;
}

.programming {
    background: url(../img/programming.jpg);
}

.chemistry {
    background: url(../img/chemistry.jpg);
}

.biology {
    background: url(../img/biology.jpg);
}

.history {
    background: url(../img/history.jpg);
}

.geography {
    background: url(../img/geography.jpg);
}

.mathematics {
    background: url(../img/mathematics.jpg);
}

.see-more {
    display: block;
    margin: 25px auto 0 auto;
}


/*----- Gradues Section  -----*/
.graduesSection {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/gradues-bg.jpg) fixed;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/gradues-bg.jpg) fixed;
    background-size: cover;
    background-position: center;
}

.graduesSection .text h2,
.graduesSection .text p {
    color: #fff;
}

.graduesSection .text .separator {
    background-color: #fff;
    margin-left: 0;
}

.graduesSection .text p {
    width: 90%;
    margin-bottom: 40px;
}

.graduesSection .leftContent {
    padding-top: 50px;
    padding-bottom: 50px;
}

.graduesSectionImg {

    background-color: red;
    background-position: center;
    background: url(../img/graduation.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
}


/*----- Gallery Section  -----*/
.gallerySection {
    padding: 50px 0;
    text-align: center;
}

.gallerySectionHeader h1 {
    color: #000;
}

.gallerySection img {
    width: 150px;
    margin: 4px;
}

.gallerySection img:hover {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);

}


/*----- Contact Section  -----*/
.contactSection {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 54, 65, 0.85)), to(rgba(0, 54, 65, 0.85))), url(../img/contact.jpg);
    background: linear-gradient(rgba(0, 54, 65, 0.85), rgba(0, 54, 65, 0.85)), url(../img/contact.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 30px;
}

.contactSection .text {
    margin-bottom: 40px;
}

.contactSection h2,
.contactSection p {
    width: 80%;
}

.contactSection .text .separator {
    background-color: #fff;
    margin-left: 0;
}

.contactSection .info p {
    font-size: 14px;
}

.contactSection button {
    display: block;
    margin: 25px auto 50px auto;
}

.contactForm .form input,
.contactForm .form textarea {
    width: 100%;
    margin-bottom: 20px;
}

.contactForm .form textarea {
    height: 165px;
}

/*----- Footer Section  -----*/
footer {
    color: #000;
    margin-top: 40px;
}

footer .footerHeaderSocial {
    text-align: center;
}

footer .footerContentSocial {
    font-size: 32px;
    text-align: center;
}

footer .footerContentSocial i:hover {
    cursor: pointer;
}

footer .footerContentSocial .fb:hover {
    color: #3b5998;
}

footer .footerContentSocial .tw:hover {
    color: #00aced;
}

footer .footerContentSocial .ig:hover {
    color: #8a3ab9;
}

footer .footerContentSocial .yt:hover {
    color: #cc181e
}

footer .footer-copyright {
    background-color: #c4cad1;
    text-align: center;
    padding: 20px 0;
    margin-top: 10px;
}

/*----- Nav -----*/
nav {
    background-color: transparent;
}

nav ul li a.active {
    color: #26de81 !important;
    font-weight: 700;
}

.nav-bg {
    background-color: #727272;
}

.nav-small {
    font-size: 18px !important;
    -webkit-transition: font-size .8s;
    transition: font-size .8s;
}

.navbar-brand {
    margin-right: 80px;
    color: #26de81 !important;
}

.navbar-brand i:hover,
.navbar-brand:hover {
    color: #fff !important;
}

.navbar-brand i {
    font-size: 64px;
}

.navbar-nav {
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 22px;
    -webkit-transition: font-size 2s;
    transition: font-size 2s;
}

@media screen and (max-height: 800px) {
    .navbar-nav {
        position: static;
    }
}